* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #72574f, #a58976, #572a1c, #4e4423);
  background-size: 500% 500%;
  animation: gradient 20s ease infinite;
  font-family: "Karla", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
p,
div {
  text-align: center;
  margin: 50px auto;
}

.first-task {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(34, 145, 145);
  transition: all 2s;
}

.first-task:hover {
  height: 150px;
  width: 150px;
  background-color: rgb(11, 48, 48);
}

.second-task {
  height: 100px;
  width: 200px;
  border-radius: 5%;
  background-color: rgb(34, 145, 112);
  transition: all 2s;
}

.second-task:hover {
  transform: rotateZ(180deg);
  background-color: rgb(13, 54, 42);
}

.third-task {
  height: 100px;
  width: 200px;
  border-radius: 5%;
  background-color: rgb(34, 145, 52);
  transition: all 2s;
}

.third-task p {
  visibility: hidden;
}

.third-task:hover,
.third-task p:hover {
  height: 100px;
  width: 100px;
  visibility: visible;
}
/* ----------------- 5th task ---------------------*/
.fifth-task {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* with one div you can do one ::before, one ::after, ie. eg top and bottom borders. One element can have only one ::Before and one ::after! 
Here h3 inside div can be used to make two other box borders, one ::after, one ::before*/

/*  TOP side  */
.fifth-task::before {
  content: "";
  /* content has to always be there for pseudo-elements! Otherwise it does not exist as it is not in HTML*/
  display: block;
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  border-top: 3px solid rgb(16, 143, 84);
  transition: all 1s;
}

.fifth-task:hover::before {
  left: 0;
}

/*  RIGHT side  */
.fifth-task::after {
  content: "";
  display: block;
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 3px solid rgb(17, 131, 121);
  transition: all 1s;
}

.fifth-task:hover::after {
  top: 0;
}

/*  BOTTOM side  */
.fifth-task h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 200px;
  border-bottom: 3px solid rgb(86, 165, 62);
  transition: all 1s;
}

.fifth-task:hover h3::before {
  right: 0;
}

/*  LEFT side  */
.fifth-task h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  border-left: 3px solid rgb(12, 110, 56);
  transition: all 1s;
}

.fifth-task:hover h3::after {
  bottom: 0;
}

/* -------------------- 6th task ---------------------*/
.animated-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s 0s;
  animation-name: animatedCircle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: rgb(121, 145, 34);
  position: relative;
}

@keyframes animatedCircle {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 200px;
    border-radius: 5%;
  }
  50% {
    top: 200px;
    left: 200px;
    border-radius: 25%;
    background-color: rgb(55, 66, 15);
  }
  75% {
    top: 200px;
    left: 0px;
    border-radius: 35%;
    background-color: rgb(72, 80, 45);
  }
  100% {
    top: 0;
    left: 0;
    border-radius: 50%;
  }
}

.animated-circle:hover {
  animation-play-state: paused;
}
