* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #333;
}
#gridContainer {
  background-color: white;
  padding: 5px;
  width: 500px;
}

header {
  display: grid;
  height: 50px;
  grid-template-columns: repeat (6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
#siteTitle {
  grid-column: 1/4;
  background-color: yellow;
}

#nav1 {
  grid-column: 4/5;
  background-color: pink;
}

#nav2 {
  grid-column: 5/6;
  background-color: pink;
}

#nav3 {
  grid-column: 6/7;
  background-color: pink;
}

main {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 5px;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (7, 1fr);
}

#postTitle {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: lightblue;
  height: 50px;
}

#postMeta {
  grid-column: 1/2;
  grid-row: 2/7;
  background-color: lightgreen;
}

#content {
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: lightgrey;
  height: 100px;
}

#contentImg {
  grid-column: 2/4;
  grid-row: 4/7;
  background-color: yellow;
  height: 150px;
}

#sideBar {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: orange;
}

#ads {
  grid-column: 4/5;
  grid-row: 3/5;
  background-color: green;
}

#otherStuffs {
  grid-column: 4/5;
  grid-row: 5/7;
  background-color: violet;
}

#footer {
  grid-column: 1/5;
  grid-row: 7/8;
  background-color: grey;
  height: 50px;
}
