* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #236747;
  /*change to Raleway, colors #236747 and coral*/
  margin: 0px;
}

h1 {
  font-size: 28px;
  text-align: center;
}

p {
  font-size: 10px;
  text-align: center;
  font-style: ;
}

.firstName,
.lastName,
.email,
.password,
.confirmPassword {
  text-align: left;
  padding: 2px 0px;
}

label {
  font-size: 8px;
  text-align: left;
}

input {
  text-align: left;
}

body a {
  text-decoration: none;
}

button {
  background-color: coral;
  color: #ffffff;
  padding: 6px 50px;
  border: 1px solid coral;
  border-radius: 7%;
  font-size: 9px;
}
button:hover {
  background-color: chocolate;
}

.disclaimer {
  font-size: 9px;
}

.disclaimer a {
  color: coral;
}
footer {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
footer a {
  color: coral;
}
