* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  text-align: center;
}
.container {
  width: 500px;
  margin: 0 auto;
  background-color: rgba (255, 255, 255, 0.9);
  /*0.95 = opacity*/
  padding: 25px;
  border-radius: 1%;
  background-color: #f5f3f1;
}
body {
  font-family: "Raleway", sans-serif; 
  background-color: #236747; /*change to Raleway, colors #236747 and coral*/
  margin: 0px;
}

h1 {
    font-size: 32px;
}

h2{
    font-size: 16px;
}
p {
  text-align: left;
  font-size: 8px;

body a {
  text-decoration: none;
}
footer {
}
