* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: teal;
  color: black
  font-family: 'Playfair Display', serif, 'Source Sans Pro', sans-serif;
  margin: 0px;
}
header {
    padding: 1rem;
    display: flex; /*only need this and next line for headers flexing*/
    justify-content: space-between;
    justify-content: ;
}

header #upperLeftCorner{
    background-color: yellow;
}

header nav{
    background-color: pink;
}