* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body header footer {
  color: black;
  font-family: 'Playfair Display', serif;
}
#siteTitle,
nav,
#postTitle,
#postMeta,
#mainContent,
#mainContentImage,
#sideBar,
#ads,
#otherStuff,
Footer {
  margin: 0 0 2px 2px;
}

/* Header = Site Title & Nav*/
header {
  display: flex; /*only need this and next line for headers flexing*/
  justify-content: space-between;
}

header #siteTitle {
  background-color: yellow;
  flex: 1;
  height: 40px;
  width: 300px;
}

header nav {
  background-color: pink;
  flex: 1;
  height: 40px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  width: 100px;
}

/*Main section, all except header and footer*/
main {
  display: flex;
  justify-content: space-between;
}

#leftMain {
  flex: 3;
}

#rightSideBar {
  flex: 1;
}

#metaContentImg {
  display: flex;
  justify-content: space-between;
}

#postMeta {
  background-color: lightgreen;
  flex: 1;
  height: 202px;
}

#contentImg {
  flex: 3;
}

#mainContent {
  background-color: lightgrey;
  height: 80px;
}

#mainContentImage {
  background-color: yellow;
  height: 120px;
}

#postTitle {
  background-color: grey;
  height: 40px;
}

#sideBar {
  background-color: orange;
  height: 80px;
}

#ads {
  background-color: green;
  height: 80px;
}

#otherStuff {
  background-color: purple;
  height: 80px;
}

footer {
  background-color: rgb(124, 5, 5);
  height: 40px;
}
